/*css для хедера*/
header { 
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    background: #d6d6d6;
    border: 3px solid black;
}
header .logo {
    border: 2px solid black;
}
header img {
    width: 65px;
    height: 55px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
}
#burger_checkbox {
    z-index: 1;
    opacity: 0;
    position:absolute;
    right: 15px;
    top: 30px;
    width: 30px;
    height: 30px;
    display: none;
}
#burger_simbol {
    z-index: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 50px;
    display: none;
}
ul {
    margin-left: 200px;
    margin-top: 10px;
}
ul li {
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #A9A9A9;
    margin-bottom: -2px;
}
ul a {
    padding: 5px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-align: center;  
}
ul a {
    position: relative;
}
ul a:hover {
    color: DarkRed;
}
ul a:hover:before {
    transform: scaleX(1);
    transition: transform 0.5s;
}
ul a:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
}
.title {
    text-align: center;
    width: 350px;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
/*css для секции с текстом*/
.section {
    background: url(../images/background.jpg);
    margin-top: auto;
    margin-bottom: auto;
    height: 620px;
    width: 100%;
    margin-top: 10px;
    border: 2px solid black;
}
h1 {
    text-align: center;

}
/*css для футера*/
.footer {
    width: 100%;
    border: 2px solid black;
    background: gray;
}
footer p {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
footer button {
    border: none;
    float: right;
    font-size: 16px;
    border-radius: 18px;
    width: 145px;
    height: 40px;
    font-weight: bolder;
    margin-top: -70px;
    margin-right: 50px;
}
footer button a {
    text-decoration: none;
    color: black;
}
/*css для формы*/
form{
    border: 4px solid black;
    border-radius: 20px;
    background: LightGray;
    width: 350px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 95px;
}
legend {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 5px;
}
form input {
    width: 270px;
    height: 30px;
    border-radius: 20px;
    margin-top: 5px;
    font-size: 18px;
}
textarea {
    border: 2px solid black;
    width: 325px;
    height: 70px;
    font-size: 18px;
    border-radius: 8px;
    resize: none;
}
label, textarea{
    margin: 10px;
}
.input1 {
    text-align: right;
}
button{
    margin: 8px;
    text-align: center;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 1464px) {
    ul {
        position: absolute;
        margin-top: 44px;
        margin-left: 6px;
    } 
    li {
        width: 150px;
        border: 2px solid black;
        padding: 10px;
    }
    nav {
        display: none;
    }
    #burger_checkbox, #burger_simbol {
        display: inline-block;
        margin-top: -10px;
    } 
    #burger_checkbox:checked ~ nav {
        margin-left: 20px;
        display:inline-block;
        top: 20px;
        right: 25px;
        position: fixed;
        height: 100%;
        width: 200px;
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 14px;
        width: 270px;
    }
    .footer p {
        font-size: 13px;
    }
    .footer button {
        font-size: 11px;
        height: 30px;
        width: 110px;
        margin-top: -55px;
        margin-right: 20px;
    }
    .section {
        height: 750px;
    }
    form {
        margin-top: 120px;
        width: 250px;
    }
    form button{
        width: 100px;
        font-size: 15px;
        margin: 10px;
        margin-left: 12px;
    }
    form input {
        width: 210px;
        height: 30px;
        font-size: 16px;
    }
    textarea {
        width: 225px;
        height: 70px;
        font-size: 16px;
    }
    legend {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
        padding: 5px;
    }
}
