/*css для хедера*/
header { 
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    background: #d6d6d6;
    border: 3px solid black;
}
header .logo {
    border: 2px solid black;
}
header img {
    width: 65px;
    height: 55px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
}
#burger_checkbox {
    z-index: 1;
    opacity: 0;
    position:absolute;
    right: 15px;
    top: 30px;
    width: 30px;
    height: 30px;
    display: none;
}
#burger_simbol {
    z-index: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 50px;
    display: none;
}
ul {
    margin-left: 200px;
    margin-top: 10px;
}
ul li {
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #A9A9A9;
    margin-bottom: -2px;
}
ul a {
    padding: 5px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-align: center;  
}
ul a {
    position: relative;
}
ul a:hover {
    color: DarkRed;
}
ul a:hover:before {
    transform: scaleX(1);
    transition: transform 0.5s;
}
ul a:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
}
.title {
    text-align: center;
    width: 350px;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
/*css для секции с текстом*/
.section {
    background: url(../images/background.jpg);
    margin-top: 64px;
    border: 2px solid black;
}
.section p {
    margin-left: 10px;
    font-size: 22px;
}
.section span{
    font-weight: bolder;
}
h1 {
    text-align: left;
    margin-left: 100px;
}
/*css для футера*/
.footer {
    border: 2px solid black;
    background: gray;
}
footer p {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
footer button {
    border: none;
    float: right;
    font-size: 16px;
    border-radius: 18px;
    width: 145px;
    height: 40px;
    font-weight: bolder;
    margin-top: -70px;
    margin-right: 50px;
}
footer button a {
    text-decoration: none;
    color: black;
}

@media (max-width: 1464px) {
    ul {
        position: absolute;
        margin-top: 44px;
        margin-left: 6px;
    } 
    li {
        width: 150px;
        border: 2px solid black;
        padding: 10px;
    }
    nav {
        display: none;
    }
    #burger_checkbox, #burger_simbol {
        display: inline-block;
        margin-top: -10px;
    } 
    #burger_checkbox:checked ~ nav {
        margin-left: 20px;
        display:inline-block;
        top: 20px;
        right: 25px;
        position: fixed;
        height: 100%;
        width: 200px;
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 14px;
        width: 220px;
    }
    header img {
        width: 55px;
        height: 45px;
    }
    .footer p {
        font-size: 14px;
    }
    .footer button {
        font-size: 9px;
        height: 30px;
        width: 90px;
        margin-top: -55px;
        margin-right: 20px;
    }
    .section {
        height: 100%;
    }
    .section p {
        margin-left: 10px;
        font-size: 18px;
    }
}
@media (max-width: 468px) {
    .title {
        font-size: 12px;
        width: 220px;
        margin-left: -10px;
    }
    .footer p {
        font-size: 10px;
    }
    .section p {
        margin-left: 5px;
        font-size: 16px;
    }
    .footer button {
        font-size: 9px;
        height: 30px;
        width: 90px;
        margin-top: -45px;
        margin-right: 20px;
    }
}
